@using System.Web.Mvc.Html;
@using IdenityHelp.ViewModels.Users;

@model IEnumerable<SciaSquash.Web.ViewModels.Users.IndexUserViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Users registered in application</h2>

<p>
    @Html.Partial("CreateActionLinkEasyPartial", new CreateUserActionLinkViewModel("Create new user", User, "UsersAdmin", null))
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            Roles
        </th>
    </tr>

    @foreach (var item in Model)
    {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.Partial("RoleSignsPartial", item.Role4User)
                </td>
                <td>
                    @Html.Partial("CrudActionLinksEasyPartial", new UsersCrudActionLinksEasyViewModel(item.Role4User, User, "UsersAdmin", new { id = item.Id }))
                </td>
            </tr>
    }

</table>
