@model SciaSquash.Web.ViewModels.Player.PlayerDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<div>
    <hr />
    @Html.Action("PlayerInfoPartial", "Player", new { playerID = Model.Player.PlayerID, showCRUDActions = false })

    <hr />
    @Html.Action("RivalResultsPartial", "Player", new { playerID = Model.Player.PlayerID, rivalID = Model.RivalID })

    <hr />
    @Html.Action("RivalMatchesPartial", "Player", new { playerID = Model.Player.PlayerID, rivalID = Model.RivalID })

</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Player.PlayerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
