@model SciaSquash.Web.ViewModels.Player.RankingViewModel



<div class="container">

    @foreach (var item in Model.Items)
    {
        <div class="row text-center">
            <div class="col-md-3">
                @Html.Partial("PlayerAvatarPartial", new SciaSquash.Web.ViewModels.Shared.PlayerAvatarPartialViewModel { Player = item.Player, Height = 75.0, Width = 75.0 })
            </div>
            <div class="col-md-4">
                <h3>@Html.DisplayFor(modelItem => item.Player.NickName)</h3>
            </div>
            <div class="col-md-5">
                <h3>@Html.Encode(item.Points)<small>pt</small></h3>
                <div class="row text-center">
                    <div class="col-md-12">
                        <span class="badge">@Html.Encode(item.ScrorePlus)</span> : <span class="badge">@Html.Encode(item.ScoreMinus)</span>
                    </div>
                </div>
            </div>

        </div>
        <hr />
    }
</div>

