@model SciaSquash.Model.Abstract.IPlayerResult

<div class="panel panel-primary">
    <div class="panel-heading">Results with rivals</div>
    <div class="panel-body">

        <table class="table table-bordered">
            <tr>
                <th>
                    #
                </th>
                <th>
                    Rival
                </th>
                <th>
                    Points
                </th>
                <th>
                    Score
                </th>
            </tr>

            @foreach (var item in Model.RivalScore.Values)
            {
                <tr>
                    <td>
                        @if (item.Rival.ImageData != null)
                        {
                            <img width="50" height="50" src="@Url.Action("GetImage", "Player", new { id = item.Rival.PlayerID })" />
                        }
                    </td>
                    <td>
                        <h4>@Html.DisplayFor(modelItem => item.Rival.NickName)</h4>
                    </td>
                    <td>
                        <h4>@Html.DisplayFor(modelItem => item.Points)<small>pt</small></h4>
                    </td>
                    <td>
                        <span class="badge">@Html.DisplayFor(modelItem => item.ScorePlus)</span> : <span class="badge">@Html.DisplayFor(modelItem => item.ScoreMinus)</span>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

