@model SciaSquash.Model.Entities.Match

@{
    ViewBag.Title = "Create match";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <hr/>
    <div class="panel panel-primary">
        <div class="panel-heading">Create new match</div>
        <div class="panel-body">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label class="control-label col-md-2" for="FirstPlayerID">Player first</label>
                    <div class="col-md-10">
                        @Html.DropDownList("FirstPlayerID", String.Empty)
                        @Html.ValidationMessageFor(model => model.FirstPlayerID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="SecondPlayerID">Player second</label>
                    <div class="col-md-10">
                        @Html.DropDownList("SecondPlayerID", String.Empty)
                        @Html.ValidationMessageFor(model => model.SecondPlayerID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ScorePlayerFirst, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ScorePlayerFirst, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ScorePlayerFirst, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ScorePlayerSecond, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ScorePlayerSecond, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ScorePlayerSecond, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to MatchDay", "Index", "MatchDay")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
