@model SciaSquash.Model.Entities.Match

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>

<div>
    <div>
        <hr />
        <div class="panel panel-primary">
            <div class="panel-heading">@Html.DisplayNameFor(model => model.MatchDay.MatchDate) @Html.DisplayFor(model => model.MatchDay.MatchDate)</div>
            <div class="panel-body">

                <div class="container">

                    <div class="row text-center">
                        <div class="col-md-4">
                            @if (Model.FirstPlayer.ImageData != null)
                            {
                                <img width="150" height="150" src="@Url.Action("GetImage", "Player", new { id = Model.FirstPlayer.PlayerID })" />
                            }
                        </div>
                        <div class="col-md-4">
                            <h1>@Html.Encode(Model.ScorePlayerFirst) : @Html.Encode(Model.ScorePlayerSecond)</h1>
                        </div>
                        <div class="col-md-4">
                            @if (Model.SecondPlayer.ImageData != null)
                            {
                                <img width="150" height="150" src="@Url.Action("GetImage", "Player", new { id = Model.SecondPlayer.PlayerID })" />
                            }
                        </div>
                    </div>

                    <div class="row text-center">
                        <div class="col-md-4">
                            <h1>@Html.DisplayFor(model => model.FirstPlayer.NickName)</h1>
                        </div>
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">
                            <h1>@Html.DisplayFor(model => model.SecondPlayer.NickName)</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to match day", "Index", "MatchDay")
        </div>
    }
</div>
