@model SciaSquash.Model.Entities.Match

@{
    ViewBag.Title = "Details";
}

<div>
    <hr />
    <div class="panel panel-primary">
        <div class="panel-heading">Match details</div>
        <div class="panel-body">

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.FirstPlayerID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstPlayerID)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SecondPlayerID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SecondPlayerID)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ScorePlayerFirst)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ScorePlayerFirst)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ScorePlayerSecond)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ScorePlayerSecond)
                </dd>

            </dl>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MatchID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
