@using System.Web.Mvc.Html;
@using IdenityHelp.ViewModels.Shared;

@model SciaSquash.Model.Entities.Match

@{
    ViewBag.Title = "Details";
}

<div>
    <hr />
    <div class="panel panel-primary">
        <div class="panel-heading">@Html.DisplayNameFor(model => model.MatchDay.MatchDate) @Html.DisplayFor(model => model.MatchDay.MatchDate)</div>
        <div class="panel-body">

            <div class="container">

                <div class="row text-center">
                    <div class="col-md-4">
                        @Html.Partial("PlayerAvatarPartial", new SciaSquash.Web.ViewModels.Shared.PlayerAvatarPartialViewModel { Player = Model.FirstPlayer, Height = 150.0, Width = 150.0 })
                    </div>
                    <div class="col-md-4">
                        <h1>@Html.Encode(Model.ScorePlayerFirst) : @Html.Encode(Model.ScorePlayerSecond)</h1>
                    </div>
                    <div class="col-md-4">
                        @Html.Partial("PlayerAvatarPartial", new SciaSquash.Web.ViewModels.Shared.PlayerAvatarPartialViewModel { Player = Model.SecondPlayer, Height = 150.0, Width = 150.0 })
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col-md-4">
                        <h1>@Html.DisplayFor(model => model.FirstPlayer.NickName)</h1>
                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        <h1>@Html.DisplayFor(model => model.SecondPlayer.NickName)</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.Partial("EditBackActionLinksEasyPartial", new EditBackActionLinksEasyViewModel(User, "Match", "MatchDay", new { id = Model.MatchID }, null))
</p>
