@model IEnumerable<SciaSquash.Model.Entities.Match>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstPlayerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondPlayerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScorePlayerFirst)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScorePlayerSecond)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.MatchDate)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(prdel => item.FirstPlayer.NickName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondPlayer.NickName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScorePlayerFirst)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScorePlayerSecond)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.MatchDate)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MatchID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MatchID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MatchID })
        </td>
    </tr>
}

</table>
