@model IEnumerable<SciaSquash.Model.Entities.MatchDay>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New match day", "Create")
</p>

@foreach (var item in Model)
{
    <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">@Html.DisplayNameFor(model => model.MatchDate) @Html.DisplayFor(modelItem => item.MatchDate)</div>
        <div class="panel-body">
            Games played in match day <br/>
            @Html.ActionLink("Create New match", "Create", "Match", new { matchDayID = item.MatchDayID }, null)
        </div>
        @Html.Partial("MatchIndexPartial", new SciaSquash.Web.ViewModels.Match.MatchIndexViewModel { Matches = item.Matches, ShowMatchDateColumn = false })
    </div>
}

